In [28]:
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
data=pd.read_csv('crime.csv')
df=pd.DataFrame(data)
df.head()

,nm_pol,murder,rape,gangrape,robbery,theft,assualt murders,sexual harassement,totarea,totalcrime,long,lat,crime/area,area
0,CHITRANJAN PARK,2,6,1,35,442,19,7,2659329.537,512,77.24920,28.53632,192.529731,2.659330
1,DABRI,8,28,0,79,240,26,16,3401013.428,397,77.08600,28.61268,116.729912,3.401013
2,MALVIYA NAGAR,3,28,1,33,694,63,15,1379853.572,837,77.20418,28.52989,606.586102,1.379854
3,CHANDNI MAHAL,1,8,1,23,529,19,7,5570696.132,588,77.23608,28.64361,105.552338,5.570696
4,MODEL TOWN,0,4,1,45,393,9,14,2689157.085,466,77.19369,28.70257,173.288501,2.689157

In [30]:
x=df[df['nm_pol'].duplicated(keep=False)]
print(x)

                 nm_pol  murder  rape  gangrape  robbery  theft  \
5            ANANDVIHAR      10    14         0       99    457
6         KASHMERE GATE       0     9         3       17    340
8              BINDAPUR       4     4         1       64    417
10         SARITA VIHAR       1    12         0       12    211
15       PRASHANT VIHAR       7     8         0       41    457
28       RAJOURI GARDEN       1     7         0       37    567
32   SAFDARJUNG ENCLAVE       2     7         0        1     83
35              KALKAJI       2     9         0       17    141
36              KALKAJI       2     9         0       17    141
51               BAWANA       6    20         3       93    383
88       PRASHANT VIHAR       7     8         0       41    457
89           ANANDVIHAR      10    14         0       99    457
96        KASHMERE GATE       0     9         3       17    340
98         SARITA VIHAR       1    12         0       12    211
100  SAFDARJUNG ENCLAVE       2     7         0        1     83
104            BINDAPUR       4     4         1       64    417
106      RAJOURI GARDEN       1     7         0       37    567
119              BAWANA       6    20         3       93    383

     assualt murders  sexual harassement       totarea  totalcrime      long  \
5                 24                  15  4.558970e+06         619  77.29373
6                 17                  12  1.627910e+06         398  77.22618
8                 11                   8  2.568080e+06         509  77.06618
10                 8                   1  7.942774e+06         245  77.30617
15                39                  14  2.076679e+06         566  77.12757
28                20                   4  1.731624e+06         636  77.11992
32                 3                  10  2.366256e+06         106  77.20489
35                 8                   2  2.659330e+06         179  77.25743
36                 8                   2  2.745339e+06         179  77.25644
51                13                   8  4.032792e+07         526  77.04254
88                39                  14  6.857849e+06         566  77.23372
89                24                  15  4.558970e+06         619  77.31306
96                17                  12  1.627910e+06         398  77.23150
98                 8                   1  6.171103e+06         245  77.28196
100                3                  10  3.486812e+06         106  77.19855
104               11                   8  2.747375e+06         509  77.06744
106               20                   4  1.798943e+06         636  77.11960
119               13                   8  4.032792e+07         526  77.02280

          lat  crime/area       area
5    28.65335  135.776292   4.558970
6    28.66645  244.485264   1.627910
8    28.60910  198.202587   2.568080
10   28.52299   30.845647   7.942774
15   28.71793  272.550558   2.076679
28   28.63969  367.285264   1.731624
32   28.56934   44.796507   2.366256
35   28.53321   67.310199   2.659330
36   28.54728   65.201426   2.745339
51   28.79654   13.043072  40.327923
88   28.60415   82.533164   6.857849
89   28.65597  135.776292   4.558970
96   28.66254  244.485264   1.627910
98   28.54046   39.701169   6.171103
100  28.55848   30.400267   3.486812
104  28.62046  185.267723   2.747375
106  28.65151  353.540958   1.798943
119  28.80659   13.043072  40.327923

In [31]:
df.drop_duplicates(subset=['nm_pol'], keep='first', inplace=True)

In [32]:
df

,nm_pol,murder,rape,gangrape,robbery,theft,assualt murders,sexual harassement,totarea,totalcrime,long,lat,crime/area,area
0,CHITRANJAN PARK,2,6,1,35,442,19,7,2659329.537,512,77.24920,28.53632,192.529731,2.659330
1,DABRI,8,28,0,79,240,26,16,3401013.428,397,77.08600,28.61268,116.729912,3.401013
2,MALVIYA NAGAR,3,28,1,33,694,63,15,1379853.572,837,77.20418,28.52989,606.586102,1.379854
3,CHANDNI MAHAL,1,8,1,23,529,19,7,5570696.132,588,77.23608,28.64361,105.552338,5.570696
4,MODEL TOWN,0,4,1,45,393,9,14,2689157.085,466,77.19369,28.70257,173.288501,2.689157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,G.T.B. ENCLAVE,1,1,0,13,86,6,7,2874304.374,114,77.31600,28.68496,39.661770,2.874304
162,NEW USMANPUR,0,8,1,10,580,9,5,3093393.387,613,77.26207,28.67202,198.164256,3.093393
163,SONIA VIHAR,6,25,1,25,300,42,8,4453887.398,407,77.25611,28.71128,91.380846,4.453887
164,KARAWAL NAGAR,7,15,2,26,334,19,7,2937546.578,410,77.27450,28.73284,139.572255,2.937547
165,GOKULPURI,2,6,2,22,306,19,8,1566343.791,365,77.28085,28.70225,233.026748,1.566344